body, input[text], button {
    margin: 0;
    color: #888;
    font-size: 12px;
    font-family: Cambria, Georgia, sans-serif;
}

header {
    width: 100%;
    min-width: 1230px;
    position: relative;
    background-color: #e8e8e8;
}

.nav-pull {
    height: 80px;
    background-size: 100%;
    background-image: url('http://www.bileji.com/assets/images/banner_background.png');
}

.nav-banner {
    height: 32px;
    width: 1230px;
    margin: auto;
    background-color: #e8e8e8;
}

.nav-sign {
    padding: 0;
    height: 100%;
    width: 240px;
    display: block;
    margin: 0 0 0 auto;
}

.nav-sign li {
    float: left;
}

.separator {
    width: 0;
    height: 14px;
    margin: 9px 4px;
    border-left: 1px solid #ccc;
    display: inline-block;
}