body, input[text], button {
    margin: 0;
    color: #888;
    font-family: Cambria, Georgia, sans-serif;
}
header {
    background-color: #369;
    width: 100%;
    min-width: 990px;
    position: relative;
}
.nav {
    height: 34px;
    vertical-align: middle;
    background-color: #e8e8e8;
}