body, input[text], button {
    margin: 0;
    color: #888;
    font-family: Cambria, Georgia, sans-serif;
}

header {
    width: 100%;
    min-width: 1230px;
    position: relative;
    background-color: #e8e8e8;
}

.nav-pull {
    height: 80px;
    background-size: 100%;
    background-image: url('http://www.bileji.com/assets/images/banner_background.png');
}

.nav-banner {
    height: 32px;
    width: 1230px;
    margin: auto;
    background-color: #e8e8e8;
}

.nav-sign {
    display: block;
    height: 100%;
    margin: auto 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-sign li {
    float: left;
}